.app_container {
  display: flex;
  justify-content: center;
}

.button_container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
<<<<<<< HEAD
  align-items: center;
=======
  display: flex;
  align-items: center;
  justify-content: center;
>>>>>>> pwaDev
}

.draw_button {
  width: 50vw;
  height: 40vw;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 1.2em
}

.draw_text {
  height: 10vh;
  letter-spacing: 2px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawAgain_button {
  text-transform: uppercase;
  width: 50%;
}

.outcome_text {
  font-size: 2em;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundColor {
  width: 100vw;
  height: 100vh;
}